.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dateContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  gap: 1em;
  align-items: center;
}

.tableContainer {
  height: 50vh;
  overflow-y: scroll;
}
